[submodule "rubiks_cube/rubik-solver"]
	path = rubiks_cube/rubik-solver
	url = https://github.com/PizzaRoll04/rubik-solver.git
[submodule "rubiks_cube/rubik_solver"]
	path = rubiks_cube/rubik_solver
	url = https://github.com/PizzaRoll04/rubik-solver.git
